<section class="container">
  <h2 class="blog-title">Blog</h2>

  <article class="project">
    <div class="">
      <h2 class="blog-post-title">Designing</h2>
      <div class="design-data">
        <div class="">
          <p class="post-meta">12 Feb 2019</p>
        </div>
        <span>|</span>
        <p class="text-data-next">Handlebars</p>
      </div>
      <p class="p-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
  </article>

  <article class="project">
    <div class="">
      <h2 class="blog-post-title">Designing</h2>
      <div class="design-data">
        <div class="">
          <p class="post-meta">12 Feb 2019</p>
        </div>
        <span>|</span>
        <p class="text-data-next">Handlebars</p>
      </div>
      <p class="p-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
  </article>

</section>
