<article class="mb-6">
    <h2 class="text-xl font-semibold">UI Interactions of the week</h2>
    <p class="text-muted text-sm">12 Feb 2019 | Express, Handlebars</p>
    <p class="mt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velt officia consequat duis enim velit mollit. Exerciation veniam consequat sunt nostrud amet.</p>
  </article>

  <article class="mb-6">
    <h2 class="text-xl font-semibold">UI Interactions of the week</h2>
    <p class="text-muted text-sm">12 Feb 2019 | Express, Handlebars</p>
    <p class="mt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velt officia consequat duis enim velit mollit. Exerciation veniam consequat sunt nostrud amet.</p>
  </article>

  <article class="mb-6">
    <h2 class="text-xl font-semibold">UI Interactions of the week</h2>
    <p class="text-muted text-sm">12 Feb 2019 | Express, Handlebars</p>
    <p class="mt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velt officia consequat duis enim velit mollit. Exerciation veniam consequat sunt nostrud amet.</p>
  </article>

  <article class="mb-6">
    <h2 class="text-xl font-semibold">UI Interactions of the week</h2>
    <p class="text-muted text-sm">12 Feb 2019 | Express, Handlebars</p>
    <p class="mt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velt officia consequat duis enim velit mollit. Exerciation veniam consequat sunt nostrud amet.</p>
  </article>