<section class="container">
    <h2 class="text-work">Works</h2>
    <div class="project">
      <img
        class="img-food"
        src="/img/featured_works/food.png"
        alt="Dashboard interface"
      />
      <div class="text-reit">

        <a class="nav-item work-item" href="/workdesigning.html">  <h3 class="h3-featured">Designing</h3></a>

        <!-- <h3 class="h3-featured">Designing</h3> -->
        <div class="design-data">
          <div class="begraund">
            <p class="p-data">2020</p>
          </div>
          
          <p class="text-data-next">Dashboard</p>
        </div>
  
        <p class="p-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="project">
      <img
        class="img-food"
        src="/img/featured_works/photografy.png"
        alt="Colorful illustration of a person with purple hair and a
      yellow flower"
      />
      <div class="text-reit">
        <h3 class="h3-featured">Vibrant Portraits</h3>
        <div class="design-data">
          <div class="begraund">
            <p class="p-data">2021</p>
          </div>
          <p class="text-data-next">Illustration</p>
        </div>
  
        <p class="p-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="project">
      <img
        class="img-food"
        src="/img/featured_works/solution.png"
        alt="Stylized letter 'A'"
      />
      <div class="text-reit">
        <h3>36 Days of Malayalam type</h3>
        <div class="design-data">
          <div class="begraund">
            <p class="p-data">2018</p>
          </div>
          <p class="text-data-next">Typography</p>
        </div>
  
        <p class="p-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      
    </div>

    <div class="project">
        <img
          class="img-food"
          src="/img/featured_works/solution.png"
          alt="Stylized letter 'A'"
        />
        <div class="text-reit">
          <h3>36 Days of Malayalam type</h3>
          <div class="design-data">
            <div class="begraund">
              <p class="p-data">2018</p>
            </div>
            <p class="text-data-next">Typography</p>
          </div>
    
          <p class="p-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        
      </div>

      <div class="project">
        <img
          class="img-food"
          src="/img/featured_works/solution.png"
          alt="Stylized letter 'A'"
        />
        <div class="text-reit">
          <h3>36 Days of Malayalam type</h3>
          <div class="design-data">
            <div class="begraund">
              <p class="p-data">2018</p>
            </div>
            <p class="text-data-next">Typography</p>
          </div>
    
          <p class="p-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        
      </div>

      <div class="project">
        <img
          class="img-food"
          src="/img/featured_works/solution.png"
          alt="Stylized letter 'A'"
        />
        <div class="text-reit">
          <h3>36 Days of Malayalam type</h3>
          <div class="design-data">
            <div class="begraund">
              <p class="p-data">2018</p>
            </div>
            <p class="text-data-next">Typography</p>
          </div>
    
          <p class="p-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        
      </div>
  </section>
  