<section class="hero-section">
  <div class="container hero-line">
    <div class="text-wrapp">
      <h1 class="hero-title-h">
        Hi, I'm Denys,<br />
        Front-end developer.
      </h1>
      <p class="hero-title-p">
        I'm a team player, have good communication skills, constantly strive for
        improvement and try to follow best practices in the industry. Always
        ready to take on difficult tasks.
      </p>

      <button id="downloadButton" class="download-resume-btn">
        <span class="span-dowload">Download Resume</span>
      </button>
    </div>
    <img
    class="peaple-ellips"
    src="../img/desctop_work_design3@1x.png"
    alt="man"
    width="243"
    height="243"
  />
    <div class="img-ellips">
      <img
        class="peaple-ellips"
        src="img/desctop_home_ellipse@1x.png"
        srcset="
          img/desctop_home_ellipse@1x.png 1x,
          img/desctop_home_ellipse@1x.png 2x
        "
        alt="man"
        width="243"
        height="243"
      />
    </div>
  </div>
</section>
