.project {
  margin-top: 22px;
  margin-bottom: 15px;
}

.text-top {
  margin-top: 15px;
  margin-bottom: 11px;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: 0px;
}

.img-food {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

.h3-featured {
font-weight: 700;
font-size: 30px;
line-height: 44.06px;
letter-spacing: 0px;
}

.p-data {
font-weight: 900;
font-size: 18px;
line-height: 60px;
letter-spacing: 0px;

}