.project {
  display: flex;
  gap: 15px;
  margin-top: 22px;
  margin-bottom: 18px;
}

.text-top {
  margin-top: 15px;
  margin-bottom: 11px;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: 0px;
}

.img-food {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

.h3-featured {
  font-weight: 700;
  font-size: 30px;
  line-height: 44.06px;
  letter-spacing: 0px;
}

.p-data {
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0px;
  color: aliceblue;
  margin: 3px 10px 5px 10px;
}

.p-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
  letter-spacing: 0px;
}

.begraund {
  width: 62px;
  height: 25px;
  border-radius: 16px;
  background: #142850;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-data {
  display: flex;
  align-items: center;
  gap: 26px;
}

.text-reit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-data-next {
  color: #8695A4;
  
}

.project {
  margin-top: 22px;
  margin-bottom: 15px;
  padding-bottom: 15px; /* Отступ перед линией */
  border-bottom: 1px solid #E0E0E0; /* Серый цвет линии */
}

.project:last-child {
  border-bottom: none; /* Убираем линию у последнего элемента */
}
