@font-face {
    font-family: 'Heedo';
    src: local('Heedo Bold'), local('Heedo-Bold'),
    url('../fonts/Heebo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Heedo';
    src: local('Heedo Medium'), local('Heedo-Medium'),
    url('../fonts/Heebo-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Heedo';
    src: local('Heedo Regular'), local('Heedo-Regular'),
    url('../fonts/Heebo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}