.header {
  padding: 25px 0px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  font-weight: 500;
  font-family: Heedo;
  font-size: 20px;
  line-height: 29.38px;
}

.nav-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 29.38px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}



.nav-item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Центрируем подчеркивание */
  bottom: -2px;
  height: 4px;
  background-color: #48484e;
  border-radius: 2px;
  width: 0; /* Начальная ширина подчеркивания */
  opacity: 0; /* Подчеркивание скрыто */
  transition: width 0.3s ease, opacity 0.3s ease; /* Плавный переход для ширины и видимости */
}

.nav-item.active::after {
  width: 100%; /* Подчеркивание увеличивается */
  opacity: 1; /* Подчеркивание становится видимым */
}
