<section class="container">
  <p class="text-top">Featured works</p>
  <div class="project">
    <img
      class="img-food"
      src="/img/featured_works/food.png"
      alt="Dashboard interface"
    />
    <div class="text-reit">
      <h3 class="h3-featured">Designing </h3>
      <div class="design-data">
        <div class="begraund">
          <p class="p-data">2020</p>
        </div>
        <p>Dashboard</p>
      </div>

      <p class="p-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
  <div class="project">
    <img
      class="img-food"
      src="/img/featured_works/photografy.png"
      alt="Colorful illustration of a person with purple hair and a
    yellow flower"
    />
    <h3>Vibrant Portraits</h3>
    <div class="begraund">
      <p class="p-data">2021</p>
    </div>
    <p>Illustration</p>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="project">
    <img
      class="img-food"
      src="/img/featured_works/solution.png"
      alt="Stylized letter 'A'"
    />
    <h3>36 Days of Malayalam type</h3>
    <div class="begraund">
      <p class="p-data">2018</p>
    </div>
    <p>Typography</p>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
</section>
