<section class="container ">
  <p class="text-top">Featured works</p>
  <div class="project">
    <img
      class="img-food"
      src="/img/featured_works/food.png"
      alt="Dashboard interface"
    />
    <h3>Designing Dashboards</h3>
    <p> 2020</p>
    <p>Dashboard</p>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="project">
    <img class="img-food" src="/img/featured_works/photografy.png"  alt="Colorful illustration of a person with purple hair and a
    yellow flower">
    <h3>Vibrant Portraits of 2020</h3>
    <p>Illustration</p>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="project">
    <img
      class="img-food"
      src="/img/featured_works/solution.png"
      alt="Stylized letter 'A'"
    />
    <h3>36 Days of Malayalam type</h3>
    <p> 2018</p>
    <p> Typography</p>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
</section>
