<header class="header">
  <div class="container">
    <nav>
      <div>
        <!-- menu -->
        <ul class="nav-list">
          <li><a class="nav-item" href="./index.html">Home</a></li>
          <li><a class="nav-item" href="./work.html">Works</a></li>
          <li><a class="nav-item" href="./blog.html">Blog</a></li>
        </ul>
        <div class="mobile-icon-wrap">
          <button
            type="button"
            class="visually-hidden burger-menu js-open-menu"
            id="open-button"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="burger-icon" width="32" height="22">
              <use href="../img/sprite.svg"></use>
            </svg>
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
