<section class="section-title">
  <div class="container container-add">
    <div class="post-add">
      <h2 class="recent-posts-title">Recent posts</h2>
      <a href="#" class="href-view">View all</a>
    </div>
    <div class="post-article">
      <article class="post">
        <h3 class="post-title">I passed English exam</h3>
        <div class="post-meta">
          24 Jan 2024 <span class="separator">|</span> Education, Language
        </div>
        <div class="post-content">
          Hello! I have good news. I passed English exam! Now I have A1 level. I
          can speak and understand simple English. I am very happy!
        </div>
      </article>

      <article class="post">
        <h3 class="post-title">I finished a Front-End course</h3>
        <div class="post-meta">
          24 May 2024 <span class="separator">|</span> Education, Web
          Development
        </div>
        <div class="post-content">
          Great news! I finished my front-end course. Now I can make websites. I
          learned HTML, CSS, JavaScript, React, Node.js. I am excited to build my own
          projects!
        </div>
      </article>
    </div>
  </div>
</section>
