<section class="section-title">
  <div class="container container-add">
    <div class="post-add">
      <h2 class="recent-posts-title">Recent posts</h2>
      <a href="#" class="href-view">View all</a>
    </div>
    <div class="post-article">
      <article class="post">
        <h3 class="post-title">Making a design system from scratch</h3>
        <div class="post-meta">
          12 Feb 2020 <span class="separator">|</span> Design, Pattern
        </div>
        <div class="post-content">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat. duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </div>
      </article>

      <article class="post">
        <h3 class="post-title">Creating pixel perfect icons in Figma</h3>
        <div class="post-meta">
          12 Feb 2020 <span class="separator">|</span> Design, Pattern
        </div>
        <div class="post-content">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud a
        </div>
      </article>
    </div>
  </div>
</section>
